<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBl98AF8k85lEFj2Arkj_rKf2xjk0kVuXc</string>
	<key>GCM_SENDER_ID</key>
	<string>520050226690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>push-flutter-3814e</string>
	<key>STORAGE_BUCKET</key>
	<string>push-flutter-3814e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520050226690:ios:fcb477ede179161321d91b</string>
</dict>
</plist>